
@{
    ViewBag.Title = "Logout";
}

<div class="rounded-container">
    <h2 class="h2 text-white">Logout</h2>
    <hr />

    <p><strong>@ViewBag.Username</strong> has been logged out</p>

</div>

<script src="~/Scripts/choose-random-background.js"></script>

